@import url("http://fonts.googleapis.com/earlyaccess/hanna.css");

@import url(http://fonts.googleapis.com/css?family=Lobster+Two:400,700);

body{
 	background-image: url(https://unsplash.it/1920/1080?image=737); 
}
.rating {
  direction: rtl;
  font-size: 17px;
  unicode-bidi: bidi-override;
  position: relative;
}
.rating span.star {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}
.rating span.star:hover {
  cursor: pointer;
}
.rating span.star:before {
  color: #F9C8D3;
  content: "\f006";
}
.rating span.star:hover:before, .rating span.star:hover ~ span.star:before {
  color: #EF005B;
  content: "\f005";
}
.rating span.star:hover:after {
  direction: ltr;
  content: attr(title);
  position: absolute;
  left: 0;
  bottom: -22px;
  white-space: nowrap;
  font: normal 14px/normal Arial, Helvetica, sans-serif;
}

.ratings {
    float: right;
    width: 85px;
    height: 17px;
    top: 125px;
    left: -355px;
    display: inline-block;
    position: relative;
}
.ratings:before, .ratings:after {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  position: absolute;
  top: 0;
  left: 0;
}
.ratings:before {
  color: #F9C8D3;
  content: "\f006\f006\f006\f006\f006";
}
.ratings:after {
  color: #EF005B;
  content: "\f005\f005\f005\f005\f005";
  overflow: hidden;
}

.ratings.one:after {
  content: "\f005";
}

.ratings.onehalf:after {
  content: "\f005\f089";
}

.ratings.two:after {
  content: "\f005\f005";
}

.ratings.twohalf:after {
  content: "\f005\f005\f089";
}

.ratings.three:after {
  content: "\f005\f005\f005";
}

.ratings.threehalf:after {
  content: "\f005\f005\f005\f089";
}

.ratings.four:after {
  content: "\f005\f005\f005\f005";
}

.ratings.fourhalf:after {
  content: "\f005\f005\f005\f005\f089";
}


#filter-options,
#portfolio-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
#portfolio-list img {

    height: 200px;
    position: absolute;
    top: 7px;
    left: 17px;
    width: 150px;
}
.filter {
  width: 17%;
  float: left;
  text-align: center;
  background: #ffffff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #222222;
  padding: 0.5%;
  margin: 0.5%;
  margin-bottom: 30px;
  cursor: pointer;
}
.filter.selected {
  background-color: #ed4e6e;
  color: white;
  text-transform: uppercase;
}
.item.hide {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
}
.item {
  top: 100px;
  width: 30%;
  height: 200px;
  float: left;
  transition: all 1s;
  margin: 0.5%;
  padding: 0.5%;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 1px 24px rgba(0, 0, 0, .24), 0 5px #ddd, 0 9px 6px -3px #999;
}
.item:hover .item-content {
  opacity: 1;
}
.item-image {
  margin-top: 15px;
}
.item-content {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #175476;
  color: white;
  text-align: left;
  height: 100%;
  width: 96%;
  transition: transform 0.4s, opacity 0.5s 0.3s;
}
.item-content h5 {
  text-transform: uppercase;
  color: #ed4e6e;
  margin: 2px 0 10px;
  font-size: 9pt;
  padding-bottom: 2px;
  border-bottom: 1px solid #018FD5;
  font-weight: 900;
}
.item-content p {
  font-size: 10pt;
}
.item-content p strong {
  color: #018FD5;
  text-transform: uppercase;
  font-size: 9pt;
}
.item-content a {
  display: inline-block;
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ed4e6e;
  margin: 5px;
  padding: 4px 6px;
  border-radius: 2px;
}
.item-content a:hover {
  background-color: #ff4466;
}
#title {
    font-size: 23px;
    top: 0px;
    font-family: 'Hanna';
    position: absolute;
    left: 170px;
}
#actor {
    font-family: 'Hanna';
    position: absolute;
    left: 170px;
    top: 80px;
}
#rat {
    font-family: 'Hanna';
    position: absolute;
    left: 170px;
    top: 105px;
}
#total {
    font-family: 'Hanna';
    position: absolute;
    left: 170px;
    top: 112px;
}
#grade {
    font-family: 'Hanna';
    position: absolute;
    left: 260px;
    top: 136px;
}
#director {
    font-family: 'Hanna';
    position: absolute;
    left: 169px;
    top: 58px;
}


#top-bar {
    background-color: #383f42;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    z-index: 999;
}

#small-logo {
    font-family: hanna;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 1em;
    color: white;
    line-height: 60px;
    margin-left: 20px;
    position: absolute;
    left: 40%;
    top: 8px;
}
#small-logo2 {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 1em;
    color: white;
    line-height: 60px;
    margin-left: 20px;
    position: absolute;
    left: 150px;
    top: 0;
}

canvas {
    display: block;
    max-width: 800px;
    margin: 60px auto;
    background-color: white;
    position: relative;
    top: 120px;
    left: -600px;
}
#chartdiv {
    width: 900px;
    height: 800px;
    font-size: 11px;
    background-color: white;
    position: relative;
    top: -740px;
    left: 1025px;
}
	width		: 900px;
	height		: 500px;
	font-size	: 11px;
}	
	width		: 900px;
	height		: 435px;
	font-size	: 11px;
}	
